<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 offset-md-1 bg-danger">
          <h3 class="mt-5  bg-light rounded-pill text-center">商品編集</h3> 
        </div>
        <div class="col-md-８ offset-md-1 pt-5">
            <div>
                <%= form_with model: [:admin, @item], local: true do |f| %>
                    <table class="table">
                        <tr>
                            <th>
                                <label for="inputImage">商品画像</label>
                            </th>
                            <td>
                                <%= attachment_image_tag @item, :image, :fill, 60, 60 %>
                                <%= f.attachment_field :image, placeholder: "プロフィール画像" %></td>
                        </tr>
                        <tr>
                            <th>
                                <label for="inputName">商品名</label>
                            </th>
                            <td><%= f.text_field :name, autofocus: true, id:"inputName", placeholder: "商品名" %></td>
                        </tr>
                        <tr>
                            <th><label for="inputIntroduction">商品説明</label></th>
                            <td><%= f.text_field :introduction, autofocus: true, id:"inputIntroduction", placeholder: "商品説明" %></td>
                        </tr>
                        <tr>
                            <th><label for="inputGenre">ジャンル</label></th>
                            <td></td>
                        </tr>
                        <tr>
                            <th><label for="inputPrice">税抜価格</label></th>
                            <td>
                               <%= f.text_field :price, autofocus: true, id:"inputPrice", placeholder: "税抜価格" %>
                            </td>
                        </tr>
                        <tr>
                           <th><label for="inputIsActiv">販売ステータス</label></th>
                           <td>
                               <%= f.radio_button :active_option, 0, checked: "checked" %>
                               <%= f.label :active_option, "販売中" %>

                               <%= f.radio_button :active_option, 1 %>
                               <%= f.label :active_option, "販売停止" %>

                               <%= f.radio_button :active_option, 2 %>
                               <%= f.label :active_option, "売切れ" %>

                           </td>
                        </tr>
                    </table>
                    <div class="text-center mb-5">
                        <%= f.submit "保存", class: "btn btn-primary" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>