<div class="container-fluid">
    
    <div class ="row">
        
        <div class="col-md-2 offset-md-1 bg-danger">
            <h3 class="mt-5 bg-light rounded-pill text-center">注文履歴詳細</h3>
        </div>
        
        <div class="col-md-5 py-5">
            <table class="table">
                <tr>
                    <th>購入者</th>
                    <td><%= @order.customer.last_name %><%= @order.customer.first_name %></td>
                </tr>
                <tr>
                    <th>注文日</th>
                    <td><%= @order.created_at.strftime('%y/%m/%d') %></td>
                </tr>
                <tr>
                    <th>配送先</th>
                    <td>
                        <%= @order.delivery_postal_code %></br>
                        <%= @order.delivery_address %></br>
                        <%= @order.delivery_name %>
                    </td>
                </tr>
                <tr>
                    <th>支払方法</th>
                    <td><%= @order.payment_option %></td>
                </tr>
                <tr>
                   <th>注文ステータス</th>
                   <td><%= @order.is_active %></td>
                </tr>
            </table>
            
            <table class="table">
                <tr>
                    <th>商品名</th>
                    <th>単価</th>
                    <th>数量</th>
                    <th>小計</th>
                    <th>製作ステータス</th>
                </tr>
                <% @order.order_items.each do |order_item| %>
                <tr>
                    <td><%= order_item.item.name %></td>
                    <td><%= order_item.price_intax %></td>
                    <td><%= order_item.amount %></td>
                    <td><%= order_item.price_intax*order_item.amount %></td>
                    <td><%= order_item.is_active %></td>
                </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>