<div class="container-fluid">
    <div style="height: 500px;" class="row">
        <div class="col-md-2 offset-md-1 bg-danger">
          <h3 class="mt-5  bg-light rounded-pill text-center">ジャンル一覧</h3> 
        </div>
        <div class="col-md-6 pt-5">
        <%= form_with model: @genre, url: admin_genres_path, method: :post, local: true do |f| %>
            <table class="table">
                <tr>
                    <th>ジャンル</th>
                    <td><%= f.text_field :name %></td>
                    <td><%= f.submit '新規登録',class: "btn btn-primary" %></td>
                </tr>
            </table>
        <% end %> 
        
        <table class="table">
            <tr>
                <th>ジャンル</th>
                <td></td>
            </tr>
            <% @genres.each do |genre| %>
            <tr>
                <th><%= genre.name %></th>
                <td>
                    <%= link_to "編集", edit_admin_genre_path(genre), class: "btn btn-primary" %>
                </td>
            </tr>
            <% end %>
        </table>

        </div>
    </div>
</div>