<div class="container-fluid">
    
    <div style="height: 500px;" class ="row">
        
        <div class="col-md-2 offset-md-1 bg-danger">
           <h3 class="mt-5 mb-4 bg-light rounded-pill text-center">配送先編集</h3> 
        </div>
        
        <div class="col-md-7 offset-md-1 my-5">
                <%= form_with model: @address, url: address_path, local: true do |f| %>
                    <table class="table table-borderless">
                        <tr>
                            <th><%= f.label "郵便番号" %></th>
                            <td><%= f.text_field :postal_code %></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th><%= f.label :"住所" %></th>
                            <td colspan="3"><%= f.text_field :address, size: 40 %></td>
                        </tr>
                        <tr>
                            <th><%= f.label :"宛名" %></th>
                            <td><%= f.text_field :name %></td>
                            <td></td>
                            <td><%= f.submit "変更内容を保存", class: "btn btn-success" %></td>
                        </tr>
                    </table>
                <% end %>
        </div>
    </div>
</div>