<div class="container-fluid">
    <div style="height: 500px;" class ="row">
        
        <div class="col-md-2 offset-md-1 bg-danger">
           <h3 class="mt-5 bg-light rounded-pill text-center">注文履歴一覧</h3> 
        </div>
        
        <div class="col-md-7 my-5">
            <table class="table">
                <tr class="table-warning">
                    <th width="30%">注文日</th>
                    <th>配送先</th>
                    <th width="20%">支払金額</th>
                    <th>手配状況</th>
                    <th></th>
                </tr>
                <% @orders.each do |order| %>
                <tr>
                    <td><%= order.created_at.in_time_zone('Tokyo').strftime('%y/%m/%d') %></td>
                    <td>
                        配送先：〒<%= order.delivery_postal_code %></br>
                        　　　　<%= order.delivery_address %></br>
                        宛名：　<%= order.delivery_name %>
                    </td>
                    <td><%= order.billing_amount %></td>
                    <td><%= order.is_active %></td>
                    <td><%= link_to "表示する", order_path(order) %></td>
                </tr>
                <% end %>
            </table>
            <%= paginate @orders %>
        </div>
    </div>
    
</div>